* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

a {
  color: #007bff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s ease;
}

a:hover {
  border-bottom: 1px solid #007bff;
}

.video-section {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 動画のサイズを調整して画面全体にフィット */
  z-index: -1; /* 動画を背面に配置 */
}

.content-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.cta-button {
  padding: 15px 30px;
  font-size: 18px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cta-button:hover {
  background-color: #0056b3;
}

.main-content {
  padding: 50px;
  background-color: #f4f4f4;
}

.main-content h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.main-content p {
  font-size: 1.2em;
  color: #333;
  margin: 10px 0;
}

img {
  max-width: 100%; /* 親要素の幅に合わせてサイズを調整 */
  height: auto;    /* アスペクト比を維持して高さを自動調整 */
  display: block;  /* ブロック要素にして余白を防ぐ */
  margin: 0 auto;  /* 画像を中央に配置 */
}

/* メディアクエリを使って、画面幅が狭いデバイス向けに調整 */
@media (max-width: 768px) {
  /* .main-content {
    padding: 20px;
  } */

  /* .main-content img {
    width: 100vw;
    height: auto;
    margin-left: calc(-50vw + 50%);
    max-width: none;
  } */

  /* .main-content h1 {
    font-size: 1.5em;
  }

  .main-content p {
    font-size: 1em;
  } */
}
